[submodule "3rdparty/kirigami"]
	path = 3rdparty/kirigami
	url = https://invent.kde.org/frameworks/kirigami
[submodule "3rdparty/tree-sitter"]
	path = 3rdparty/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter
[submodule "3rdparty/tree-sitter-qmljs"]
	path = 3rdparty/tree-sitter-qmljs
	url = https://github.com/yuja/tree-sitter-qmljs
