on:
  push:
  workflow_dispatch:

jobs:
  build-ios:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'true'

    - name: Install host Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: 6.7.*
        host: 'mac'
        target: 'desktop'
        arch: 'clang_64'
        modules: 'qtshadertools'
        dir: '${{ runner.temp }}'
        install-deps: 'true'
        cache: true

    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: 6.7.*
        host: 'mac'
        target: 'ios'
        arch: 'ios'
        modules: 'qtshadertools'
        dir: '${{ runner.temp }}'
        install-deps: 'true'
        cache: true

    - name: Build ecm
      run: |
        git clone https://invent.kde.org/frameworks/extra-cmake-modules ${{ runner.temp }}/ecm
        cd ${{ runner.temp }}/ecm
        git checkout v6.5.0
        cmake .
        cmake --build .
        cmake --install . --prefix ${{ env.QT_ROOT_DIR }}/

    - run: ls ${{ env.QT_ROOT_DIR }}/../macos/lib/cmake/

    - name: Configure
      run: ${{ env.QT_ROOT_DIR }}/bin/qt-cmake -B ./build
                            -DQT_HOST_PATH=${{ env.QT_ROOT_DIR }}/../macos/
                            -DQt6LinguistTools_DIR=${{ env.QT_ROOT_DIR }}/../macos/lib/cmake/Qt6LinguistTools
                            -DQt6ShaderToolsTools_DIR=${{ env.QT_ROOT_DIR }}/../macos/lib/cmake/Qt6ShaderToolsTools

    - name: Build
      run: xcodebuild build -project qmlcreator.xcodeproj -configuration Release -destination "generic/platform=iOS" CODE_SIGNING_ALLOWED=NO -scheme qmlcreator -archivePath qmlcreator.xcarchive archive
      working-directory: build

    - name: Package
      run: |
        mkdir Payload
        mv *.app Payload
        zip -qq -r -9 Qmlcreator.ipa Payload
      working-directory: build/qmlcreator.xcarchive/Products/Applications

    - name: Save APK
      uses: actions/upload-artifact@v4
      with:
        name: qmlcreator-ipa
        path: build/qmlcreator.xcarchive/Products/Applications/*.ipa


  build-apk:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'true'

    - name: Install Host Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: 6.7.2
        host: 'linux'
        target: 'desktop'
        arch: 'linux_gcc_64'
        modules: 'qtshadertools'
        tools: 'tools_ninja tools_cmake'
        dir: '${{ runner.temp }}'
        install-deps: 'true'
        cache: true
          
    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: 6.7.2
        host: 'linux'
        target: 'android'
        arch: 'android_arm64_v8a'
        modules: 'qtshadertools'
        dir: '${{ runner.temp }}'
        install-deps: 'true'
        cache: true

    - name: Build ecm
      run: |
        git clone https://invent.kde.org/frameworks/extra-cmake-modules ${{ runner.temp }}/ecm
        cd ${{ runner.temp }}/ecm
        git checkout v6.5.0
        cmake .
        cmake --build .
        cmake --install . --prefix ${{ env.QT_ROOT_DIR }}/

    - name: Configure
      run: ${{ env.QT_ROOT_DIR }}/bin/qt-cmake -B ./build
                            -DQT_HOST_PATH=${{ env.QT_ROOT_DIR }}/../gcc_64/
                            -DQt6LinguistTools_DIR=${{ env.QT_ROOT_DIR }}/../gcc_64/lib/cmake/Qt6LinguistTools
                            -DQt6ShaderToolsTools_DIR=${{ env.QT_ROOT_DIR }}/../gcc_64/lib/cmake/Qt6ShaderToolsTools

    - name: Build
      run: cmake --build .
      working-directory: build

    - name: Save APK
      uses: actions/upload-artifact@v4
      with:
        name: qmlcreator-apk
        path: build/src/android-build/*.apk
